@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
  margin:0 auto;
  max-width:1280px;
  width:90%;
}
.content {
  min-height: calc( 100vh - 120px);
  padding: 10px 0;
}
.back_btn {
  width: max-content;
  padding: 10px;
  background: #59c2ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
@media (min-width: 601px){
  .container{
    width:85%;
  }
}
@media (min-width: 993px){
  .container{
    width:70%;
  }
}